@page
@model ScoreManagement.Pages.AdminMenu.AdminDashboardModel
@{
}

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminMenu/AccountManage/Index">Account</a>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminMenu/ClassCoursesManage/Index">ClassCourses</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminMenu/StudentsCoursesManage/Index">StudentsCourses</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminMenu/StudentsManage/Index">Student</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminMenu/MajorManage/Index">Major</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminMenu/GradeManage/Index">Grade</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminMenu/ClassesManage/Index">Classes</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminMenu/CoursesManage/Index">Courses</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminMenu/LecturersManage/Index">Lecturers</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminMenu/SemestersManage/Index">Semesters</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminMenu/StudentClassesManage/Index">StudentClasses</a>
</li>